# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Environment Variables
.env
**/.env

# VS Code
.vscode/

# JetBrains
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# Ruff
.ruff_cache/